.smartbanner {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 100%;
  height: 90px;
  background: #f3f3f3;
  font-family: Helvetica, sans, sans-serif;
  /** Android styles **/ }
  .smartbanner__exit {
    position: absolute;
    top: calc(50% - 6px);
    left: 9px;
    display: block;
    margin: 0;
    width: 12px;
    height: 12px;
    border: 0;
    text-align: center; }
    .smartbanner__exit::before, .smartbanner__exit::after {
      position: absolute;
      width: 1px;
      height: 12px;
      background: #767676;
      content: ' '; }
    .smartbanner__exit::before {
      transform: rotate(45deg); }
    .smartbanner__exit::after {
      transform: rotate(-45deg); }
  .smartbanner__icon {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 64px;
    height: 64px;
    border-radius: 15px;
    background-size: 64px 64px; }
  .smartbanner__info {
    position: absolute;
    top: 10px;
    left: 104px;
    display: flex;
    overflow-y: hidden;
    width: 60%;
    height: 64px;
    align-items: center;
    color: #000; }
    .smartbanner__info__title {
      font-size: 14px; }
    .smartbanner__info__author, .smartbanner__info__price {
      font-size: 12px; }
  .smartbanner__button {
    position: absolute;
    top: 32px;
    right: 10px;
    z-index: 1;
    display: block;
    padding: 0 10px;
    min-width: 10%;
    border-radius: 5px;
    background: #f3f3f3;
    color: #1474fc;
    font-size: 18px;
    text-align: center;
    text-decoration: none; }
    .smartbanner__button__label {
      text-align: center; }
  .smartbanner.smartbanner--android {
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    margin: 0 auto; }
    .smartbanner.smartbanner--android .smartbanner__exit {
      position: absolute;
      left: 7px;
      top: 7px;
      display: block;
      font-family: 'ArialRoundedMTBold',Arial;
      font-size: 15px;
      text-align: center;
      text-decoration: none;
      border-radius: 14px;
      -webkit-font-smoothing: subpixel-antialiased;
      border: 0;
      width: 17px;
      height: 17px;
      line-height: 17px;
      color: #b1b1b3;
      background: #efefef; }
      .smartbanner.smartbanner--android .smartbanner__exit::before, .smartbanner.smartbanner--android .smartbanner__exit::after {
        top: 3px;
        left: 8px;
        width: 2px;
        height: 11px;
        background: #b1b1b3; }
      .smartbanner.smartbanner--android .smartbanner__exit:active, .smartbanner.smartbanner--android .smartbanner__exit:hover {
        color: #eee; }
    .smartbanner.smartbanner--android .smartbanner__icon {
      background-color: transparent;
      box-shadow: none; }
    .smartbanner.smartbanner--android .smartbanner__info {
      position: absolute;
      left: 105px;
      top: 15px;
      width: 44%;
      font-size: 12px;
      line-height: 1.2em;
      font-weight: bold;
      color: #999; }
      .smartbanner.smartbanner--android .smartbanner__info__title {
        font-size: 16px;
        line-height: 17px;
        color: #000;
        font-weight: bold; }
    .smartbanner.smartbanner--android .smartbanner__button {
      position: absolute;
      right: 20px;
      top: 28px;
      border-bottom: 3px solid #b3c833;
      padding: 0 10px;
      min-width: 12%;
      height: 30px;
      font-size: 15px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      color: #fff;
      background-color: #b3c833;
      text-decoration: none;
      border-radius: 50px; }
      .smartbanner.smartbanner--android .smartbanner__button__label {
        text-align: center;
        display: block;
        padding: 0 5px; }
